body {
  font-size: 100%; 
  margin-left: 5%; 
  color: black; 
  font-family: arial;

}
h1 {
  font-size: 150%; 
  color: blue; 
  font-weight: strong;
  font-family: arial
}
h2 {
  font-size: 100%; 
  color: black; 
  font-weight: strong;
  font-family: arial
}
h3 {
  font-size: 90%; 
  color: black; 
  font-weight: normal;
  font-family: arial
}
h4 {
  font-size: 100%; 
  color: black; 
  margin-left: 4%;
  font-weight: normal;
  font-family: arial
}

h5 {
  font-size: 200%; 
  text-align = center;
  color: black;   
  font-weight: bold; 
  font-family: arial
}

h6 {
  font-size: 80%; 
  color: black; 
  margin-left: 1%;
  font-weight: normal;
  font-family: arial
}
/* tables */

table        {
  border: thin solid black;
  text-align: left;
  /* width: 100%;*/
  border-collapse: collapse
}

/* table header */

th           {
  border: thin solid gray;
  border-collapse: collapse;
  padding: 4px 2px 2px 4px;
}

/* table cell */

td           {
  border: thin solid gray;
  border-collapse: collapse;
  padding: 4px 8px 4px 8px;
  font-style: italic;
}
/*   padding: 4px 2px 2px 4px; */